{% extends "base.html"%}

{%block content%}
<style type="text/css" media="screen">
#formularioregistro {
	margin: 130px;
}
.helptext {
	display: none;
}
	
</style>

<div id="formularioregistro">

    <div class="container">
        <div class="row">
          <div class="span6">

			<form action="." method="POST">{% csrf_token %}
				<fieldset>
					<legend>Formulario para registrarse al sistema</legend>
					{{form.as_p}}
					<input class="btn btn-large btn-success" type="submit" id="submitfoo" value="Guardar" />
				</fieldset>
			</form>
			<p>Una ves le de guardar nosostros nos pondremos en contacto con usted para notificarle
			que su cuenta ha sido activada</p>
		 </div>
		</div>
	</div>
</div>

{%endblock content%}