{% extends "base.html"%}
{%block extra%}
<script type="text/javascript">
    $(document).ready(function() {
        $('#explora').addClass("seleccionado");
    });
</script>
{%endblock%}
{%block content%}
    <section class="titulo interna">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="titulo-main">Explorando mercados campesinos registrados</div>
          </div>
        </div>
      </div> <!-- /container -->
    </section> 

    <section class="contenido">
      <div class="container">
        <div class="row">
          <div class="span2">
            <div class="sidebar-mapa">
              <a href="#">Toda Nicaragua</a>
              <a href="#" class="on">Chinandega</a>
              <a href="#">Leon</a>
              <a href="#">Managua</a>
              <a href="#">Masaya</a>
              <a href="#">Granada</a>
              <a href="#">Carazo</a>
              <a href="#">Rivas</a>
              <a href="#">Chontales</a>
              <a href="#">Boaco</a>
              <a href="#">Matagalpa</a>
              <a href="#">Jinotega</a>
              <a href="#">Esteli</a>
              <a href="#">Nueva Segovia</a>
              <a href="#">Madriz</a>
              <a href="#">RAAS</a>
              <a href="#">RAAN</a>
              <div class="clearfix"></div>
              <br>
            </div>
          </div>
          <div class="span10">
            <div class="mapa">
              <form class="form-inline">
                
                <div class="selects">
                  <select>
                    <option>Organizacion</option>
                    <option>Libre</option>
                    <option>Cooperativa</option>
                    <option>Organizacion comunitaria</option>
                    <option>Asociacion</option>
                    <option>Empresa pyme</option>
                  </select>
                  <select>
                    <option>Periocidad</option>
                    <option>Diario</option>
                    <option>Semanal</option>
                    <option>Quincenal</option>
                    <option>Mensual</option>
                  </select>
                  <select >
                    <option>Product. procesados</option>
                    <option>miel</option>
                    <option>cafe tostado</option>
                  </select>
                  <select class="last">
                    <option>Product. frescos</option>
                    <option>maiz</option>
                    <option>frijol</option>
                  </select>
               </div>  
               <button type="submit" class="boton">Actualizar</button>
              </form>
              <div class="mapa-interno">
                 <iframe width='745' height='470' frameBorder='0' src='http://a.tiles.mapbox.com/v3/byroncorrales.map-tcxnk6dp.html#8/12.49800000000003/-85.226'></iframe>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- /container -->
    </section> 
{%endblock%}