{% extends "base_solo_index.html"%}
{%block extra%}
<script type="text/javascript">
    $(document).ready(function() {
        $('#sistema').addClass("seleccionado");
    });
</script>
{%endblock%}
{%block content%}
    <section class="titulo">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="titulo-main">Sistema de Mercados Campesinos</div>
          </div>
        </div>
      </div> <!-- /container -->
    </section> 

    <section class="contenido">
      <div class="container">
        <div class="row">
          <div class="span6">
            <p>
              Durante muchos años se han dado varios intentos en querer dar solución al problema de la comercialización campesina y de acercar al productor con el mercado  local, nacional o internacional. Sobre todo de cambiar el papel de proveedor de productos en bruto a la cadena de intermediación, siendo la familia frágil en su  capacidad de negociar con los intermediarios, quienes han salido siempre con la mayor parte de las ganancias.
            </p>
            <p>
              El propósito de este sistema de mercados es promover información sobre los distintos "mercados locales" que existen en Nicaragua, su ubicación, productos que ofrecen y periodicidad con que operan. Además de datos estadísticos sobre productos (frescos o procesados), vendedores y compradores.
            </p>

            <div class="semititle">CARACTERISTICAS</div>
            
            <div class="caracteristica c1">
              <b>Georeferenciación de mercados</b><br>
                 <p>Se refiere al posicionamiento o localización de un mercado en el espacio geográfico, y permite visibilizarlo en un mapa</p>
            </div>
            <div class="caracteristica c2">
              <b>Analisis cuantitativos de indicadores</b><br>
                 <p>A través de este sistema se pueden analizar numéricamente los indicadores tales como precio, productos, vendedores, compradores, periodicidad del mercado, entre otras.</p>
            </div>
            <div class="caracteristica c3">
              <b>Relaciones de actores</b><br>
                 <p>Potenciar el intercambio de información entre productores, vendedores y compradores de estos mercados campesinos, así como también de las personas que les apoyan.</p>
            </div>

            <p>
              <div class="semititle">UNA COLABORACIÓN DE</div>
            </p>
            <p>
              <center>
                <img src="{{ STATIC_URL }}img/logocolaboradores.png">
              </center>
            </p>
          </div>
          <div class="span6">
            <div class="semititle">ULTIMOS MERCADOS REGISTRADOS</div>
            <div class="mercados">
              {% for mercado in mercados  %}
                <div class="mercado-elemento">
                  <center>
                    <a href="ver_mercado/{{mercado.id}}">
                      <span class="badge badge-important">{{mercado.departamento}}</span>
                    </a>
                  </center>
                  <a href="ver_mercado/{{mercado.id}}" class="mercado">
                    {%if mercado.foto.0.picture%}
                      <img class="imagen-mercado" src="{{mercado.foto.0.picture.url_445x260}}" alt="{{mercado.nombre_mercado}}" />
                    {%else%}
                       <img class="imagen-mercado" src="{{STATIC_URL}}img/nofotomercado.png" alt="{{mercado.nombre_mercado}}" />
                    {%endif%}
                    <div class="titulo-mercado">{{mercado.nombre_mercado}}</div>
                  </a>
                  <center>
                     <div class="sombra-mercado"></div>
                  </center>
                </div>
              {% empty %}
                  <p>No existen mercados registrados</p>
              {% endfor %}
              <div class="clearfix"></div>
              <br><br>
              
              <a href="/lista-mercados/" class="btn btn-success">Ver lista de mercados</a><br><br><br>
                <div class="caracteristica c4">
                  <b>Ayuda del sistema</b><br>
                  <p>Acá podrá encontrar el manual de uso del sistema de mercados campesinos, así como las fichas para levantar dicha información.<br><br>
                    <a href="uploads/Manual_Uso_MercadosCampesinos.pdf" title="Manual del usuario" class="btn btn-info">Manual del usuario</a>
                    <a href="uploads/fichas.pdf" title="Manual del usuario" class="btn btn-info">
                    Fichas</a>
                  </p>
                </div>
            </div>
          </div>
        </div>
      </div> <!-- /container -->
    </section> 
{%endblock%}