{% extends "base.html"%}
{%block extra%}
<script src="{{STATIC_URL}}js/highcharts.js"></script>
<script src="{{STATIC_URL}}js/custom.js"></script>
<script src="{{STATIC_URL}}js/jquery.cookie.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#explora').addClass("seleccionado");
    });


// Para el grafico test
    $(document).ready(function() {
      $('#prodcutos-procesados').addClass('active');
    });

function myFunction(value,titulo)
{
  var jajaja = "container-" + value;
  var nombre = value;
  var texto = "Precios del " + titulo;
  //alert(loqusea);
  document.getElementById(jajaja).innerHTML=(value);
  $.post('/traemelosdatos/',{nombre:nombre}, function (data){  
    var chart;
    chart = new Highcharts.Chart({
            chart: {
                renderTo: jajaja,
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            colors: [
              '#ff7f6d', 
              '#7e7d7d', 
            ],
            credits: {
               text: '',
            },
            title: {
                text: texto,
                x: -20 //center
            },
            subtitle: {
                text: 'Mercado Siuna',
                x: -20
            },
            xAxis: {
                categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                    'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            },
            yAxis: {
                title: {
                    text: 'C$ cordobas x quintal'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#e3e3e3'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y +'C$';
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: 'Precio de mercado',
                data: data.fresco
            },  {
                name: 'Precio municipal',
                data: data.fresco2
            }]
        }); 

    //funcion post cierra 
  });
}



</script>

{%endblock%}
{%block content%}
    <section class="titulo interna mercado">
      <div class="container">
        <div class="row">
          <div class="span12">
           <!-- <a href="/explora/" class="regresar">← Regresar</a>-->
            <div class="titulo-main">{{mercado.nombre_mercado}}</div>
          </div>
        </div>
      </div> <!-- /container -->
    </section> 

    <section class="ficha-descripcion mercado">
      <div class="container">
        <div class="row">
          <div class="span6">
            <div class="titulo-descripcion"><i class="icon-star"></i> &nbsp;DESCRIPCION</div>
            <div class="descripcion-mercado">
              <p>{{mercado.descripcion}}.</p>
            </div>
          </div>
          <div class="span6">
              <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                  <div class="active item"><img src="{{mercado.foto.0.picture.url_460x260}}"></div>
                  {% for fotito in mercado.foto.all %}
                    <div class="item"><img src="{{fotito.picture.url_460x260}}"></div>
                  {% endfor %}
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
              </div>
          </div>
        </div>
      </div> <!-- /container -->
    </section> 

    <section class="extra-info">
      <div class="container">
        <div class="row">
          <div class="span12">
            <b>Departamento</b> {{mercado.departamento}} &nbsp;|&nbsp; <b>Municipio</b> {{mercado.municipio}} &nbsp;|&nbsp; <b>Periocidad</b>{% for periodo in mercado.actividadmercado_set.all %} {%if forloop.first%}{{periodo.periodicidad}}{%endif%} {%endfor%} &nbsp;|&nbsp; <b>Contacto</b> {{mercado.fkregistro.nombre_persona}} {{mercado.fkregistro.telefono}} &nbsp;|&nbsp; <b>Organizacion</b> {{mercado.fkregistro.nombre_organizacion}} &nbsp;|&nbsp; <b>Modalidad</b> {% for periodo in mercado.actividadmercado_set.all %} {%if forloop.first%} {{periodo.get_modalidad_display}}{%endif%} {%endfor%}
          </div>
        </div>
      </div> <!-- /container -->
    </section> 
    <section class="productos">
      <div class="container">
        <div class="row">
          <div class="span12">
              <div class="tabbable tabs-left">
                  <ul class="nav nav-tabs">
                      <li class="active">
                        <a href="#productos-frescos" data-toggle="tab">Productos frescos<br><img src="{{ STATIC_URL }}img/productos.png"></a>
                      </li>
                      <li>
                        <a href="#productos-procesados" data-toggle="tab">Productos procesados<br><img src="{{ STATIC_URL }}img/queso.png"></a>
                      </li>
                      <li class="">
                        <a href="#vendedores" data-toggle="tab">Vendedores<br><img src="{{ STATIC_URL }}img/vendedor.png"></a>
                      </li>
                      <li class="">
                        <a href="#compradores" data-toggle="tab">Compradores<br><img src="{{ STATIC_URL }}img/comprador.png"></a>
                      </li>
                  </ul>
              <div class="tab-content">
                  <div class="tab-pane active" id="productos-frescos">
                    {% for fresco in productos_frescos %}
                        <a id="productos" href="#" class="btn" onclick="myFunction('{{fresco.id}}','{{fresco.nombre}}')">
                        <img src="{{fresco.picture.url_60x60}}" class="img-circle">{{fresco.nombre}}
                        </a>
                        <div id="container-{{fresco.id}}" style="min-width: 200px; height: 300px; margin: 0 auto"></div>
                      {% endfor %}
                      
                  </div>
                  <div class="tab-pane" id="productos-procesados">
                      productos procesados
                  </div>
                  <div class="tab-pane" id="vendedores">
                     <table class="table">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Hombres</th>
                            <th>Mujeres</th>
                          </tr>
                          </thead>
                        <tbody>
                        {% for tabla in mercado.actividadmercado_set.all %}
                          <tr>
                            <td>{{tabla.fecha_actividad}}</td>
                            <td><div class="sexom"><img src="{{ STATIC_URL }}img/male.png">{{tabla.vendedor_hombre}}</div></td>
                            <td><div class="sexof"><img src="{{ STATIC_URL }}img/female.png">{{tabla.vendedor_mujer}}</div></td>
                          </tr>
                        {%empty%}
                          <tr>
                            <td>No existe datos</td>
                            <td><div class="sexom"><img src="{{ STATIC_URL }}img/male.png">0</div></td>
                            <td><div class="sexof"><img src="{{ STATIC_URL }}img/female.png">0</div></td>
                          </tr>
                        {% endfor %}
                        </tbody>
                     </table>
                  </div>
                  <div class="tab-pane" id="compradores">
                     <table class="table">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Hombres</th>
                            <th>Mujeres</th>
                          </tr>
                          </thead>
                        <tbody>
                          {% for tabla in mercado.actividadmercado_set.all %}
                          <tr>
                            <td>{{tabla.fecha_actividad}}</td>
                            <td><div class="sexom"><img src="{{ STATIC_URL }}img/male.png">{{tabla.comprador_hombre}}</div></td>
                            <td><div class="sexof"><img src="{{ STATIC_URL }}img/female.png">{{tabla.comprador_mujer}}</div></td>
                          </tr>
                        {%empty%}
                          <tr>
                            <td>No existe datos</td>
                            <td><div class="sexom"><img src="{{ STATIC_URL }}img/male.png">0</div></td>
                            <td><div class="sexof"><img src="{{ STATIC_URL }}img/female.png">0</div></td>
                          </tr>
                        {% endfor %}
                        </tbody>
                     </table>
                  </div>

              </div>
              <div class="sombra"></div>
              <div class="sombra2"></div>
          </div>
        </div>
      </div> <!-- /container -->
    </section> 


{%endblock%}