{% extends "admin/base_site.html" %}

{% block content %}
<style>
select{
    margin:7px;
}
</style>
	<form id="formulariomovimiento" action="." method="POST">
		{% csrf_token %}
		<div class="module">
			{{ formMer.as_p }}
		</div>
	<div class="escondete">
			<fieldset class="module">
			<h2>Productos frescos</h2>
		<table>
			<thead>
				<tr>
					<th>Productos frescos</th>
					<th>Unid. medida</th>
					<th>Volumen venta en una jornada del mercado</th>
					<th>Precio promedio del producto en el mercado</th>
					<th>Precio municipal</th>
					<th>Calidad</th>
				</tr>
			</thead>
			<tbody id="forms">

			</tbody>
		</table>
			
		</fieldset>

		<fieldset class="module">
		<h2>Productos procesados</h2>
		<table>
			<thead>
				<tr>
					<th>Producto procesados</th>
					<th>Unid. medida</th>
					<th>Volumen venta en una jornada del mercado</th>
					<th>Precio promedio del producto en el mercado</th>
					<th>Precio municipal</th>
					<th>Calidad</th>
				</tr>
			</thead>
			<tbody id="forms2">
			</tbody>
		</table>
	</fieldset>
	<div class="submit-row">
		<input type="submit"  value="Grabar y añadir otro" name="_addanother"/>
    	<input type="submit" value="Grabar" name="_save" />
    </div>

</div>
		
		
		
	</form>


	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/utilitarios.js"></script>
    <script src="{{STATIC_URL}}js/custom.js"></script>
    <script src="{{STATIC_URL}}js/jquery.cookie.js"></script>
{% endblock content %}

